<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>

<!--Main Content -->
<main class="container">
  <div class="h-100 p-5 bg-light border rounded-3">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
  
  <% if (title == "Home") { %>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">Welcome!</h3>
            <div class="mb-1 text-muted">Sept 29, 2021</div>
            <p class="card-text mt-2">My name is Jeffrey Sy. I am a software, UX/UI, and database engineeer. I like turtles and cakes.</p>
            <strong class="d-inline-block mb-2 text-end text-primary">-J Sy.</strong>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
          </div>
        </div>
      </div>
  <% } %>
  <% if (title == "About me") { %>
    <p>I like turtles</p>
  <% } %>  
  <% if (title == "Projects") { %>
    <p>projects</p>          
  <% } %>
    

</main>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>
